[submodule "unity/Unity-Robotics-Hub"]
	path = unity/Unity-Robotics-Hub
	url = https://github.com/Unity-Technologies/Unity-Robotics-Hub.git
[submodule "unity/ROS-TCP-Endpoint"]
	path = unity/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
